<div class="list__body" vs-repeat="" vs-scroll-parent=".content" vs-excess="20" vs-repeat-child-class=".keyword-line" use-track-mouse="content_list_keywordexplorer"><div class="vs-repeat-before-content" style="width: 100%; min-height: 0px;"></div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId" style="">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5aabffb23d706f0ac554499e" name="checkbox_5aabffb23d706f0ac554499e" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5aabffb23d706f0ac554499e"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            18
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            1
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b5e6d083d706f0ac5ec75cb" name="checkbox_5b5e6d083d706f0ac5ec75cb" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b5e6d083d706f0ac5ec75cb"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            free wallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            9
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            1
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5a9ec8ed3d706f0ac591e8d9" name="checkbox_5a9ec8ed3d706f0ac591e8d9" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5a9ec8ed3d706f0ac591e8d9"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            wallet free
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            1
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8702343d706f0ac5730fec" name="checkbox_5b8702343d706f0ac5730fec" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8702343d706f0ac5730fec"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            bitcoin free wallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            1
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5c3ea8167ec3768a6db773ca" name="checkbox_5c3ea8167ec3768a6db773ca" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5c3ea8167ec3768a6db773ca"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            crypto wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            1
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5d1d84c34f357feefb208ce7" name="checkbox_5d1d84c34f357feefb208ce7" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5d1d84c34f357feefb208ce7"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            freewallet lite
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            1
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b62f5613d706f0ac5d66b68" name="checkbox_5b62f5613d706f0ac5d66b68" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b62f5613d706f0ac5d66b68"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            multicurrency wallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8704c43d706f0ac577c2f0" name="checkbox_5b8704c43d706f0ac577c2f0" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8704c43d706f0ac577c2f0"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            xmr crypto
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5c19a199b12889ac06cd970c" name="checkbox_5c19a199b12889ac06cd970c" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5c19a199b12889ac06cd970c"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            tether wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5cc88e2c60fc2b35ff683277" name="checkbox_5cc88e2c60fc2b35ff683277" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5cc88e2c60fc2b35ff683277"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            bitcoin wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5cc8907960fc2b35ffa28a26" name="checkbox_5cc8907960fc2b35ffa28a26" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5cc8907960fc2b35ffa28a26"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            ethereum wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5cc891a060fc2b35ffbea578" name="checkbox_5cc891a060fc2b35ffbea578" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5cc891a060fc2b35ffbea578"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            monero wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5d4ea3b5c8b33441bf064536" name="checkbox_5d4ea3b5c8b33441bf064536" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5d4ea3b5c8b33441bf064536"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            eyewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5d7835739a2482c58d4bfc13" name="checkbox_5d7835739a2482c58d4bfc13" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5d7835739a2482c58d4bfc13"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            crypto blockchain wallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            0
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            2
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8702103d706f0ac572d177" name="checkbox_5b8702103d706f0ac572d177" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8702103d706f0ac572d177"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            bitcoin xmr
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8702373d706f0ac57339af" name="checkbox_5b8702373d706f0ac57339af" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8702373d706f0ac57339af"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            crypto xmr
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8703b93d706f0ac5760c8f" name="checkbox_5b8703b93d706f0ac5760c8f" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8703b93d706f0ac5760c8f"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            altcoin xmr
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8704bc3d706f0ac577ab9a" name="checkbox_5b8704bc3d706f0ac577ab9a" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8704bc3d706f0ac577ab9a"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            monero crypto
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8704c43d706f0ac577c1f1" name="checkbox_5b8704c43d706f0ac577c1f1" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8704c43d706f0ac577c1f1"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            xmr bitcoin
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId" style="">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8704c43d706f0ac577c33a" name="checkbox_5b8704c43d706f0ac577c33a" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8704c43d706f0ac577c33a"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            xmr currency
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8704c43d706f0ac577cb24" name="checkbox_5b8704c43d706f0ac577cb24" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8704c43d706f0ac577cb24"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            xmr speed
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5cc8914160fc2b35ffb61574" name="checkbox_5cc8914160fc2b35ffb61574" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5cc8914160fc2b35ffb61574"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            litecoin wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5db7a169904ae617d027e070" name="checkbox_5db7a169904ae617d027e070" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5db7a169904ae617d027e070"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            eos coin wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            3
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5cbcb77660fc2b35ffa9de12" name="checkbox_5cbcb77660fc2b35ffa9de12" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5cbcb77660fc2b35ffa9de12"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            xrpayments
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            15
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5c4255ca7ec3768a6d0a7d77" name="checkbox_5c4255ca7ec3768a6d0a7d77" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5c4255ca7ec3768a6d0a7d77"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            dogecoin wallet by freewallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            7
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5a237064f1e690b329b757ac" name="checkbox_5a237064f1e690b329b757ac" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5a237064f1e690b329b757ac"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            peercoin
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8702393d706f0ac5734b19" name="checkbox_5b8702393d706f0ac5734b19" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8702393d706f0ac5734b19"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            currency monero
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8702393d706f0ac5734b47" name="checkbox_5b8702393d706f0ac5734b47" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8702393d706f0ac5734b47"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            currency xmr
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8703153d706f0ac574ed6d" name="checkbox_5b8703153d706f0ac574ed6d" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8703153d706f0ac574ed6d"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            wallet altcoin
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8703153d706f0ac574f17c" name="checkbox_5b8703153d706f0ac574f17c" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8703153d706f0ac574f17c"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            wallet xmr
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="keyword-line list__row vs-repeat-repeated-element" ng-repeat="item in $vs_collection track by item.schedulableKeywordId">
    <div class="list__cell list__cell--remain-m list__cell--left">
        <div class="list__checkbox" ng-class="{'list__checkbox--invisible': item.tracked}">
            <input type="checkbox" checklist-comparator=".schedulableKeywordId" checklist-value="item" id="checkbox_5b8703b73d706f0ac576011e" name="checkbox_5b8703b73d706f0ac576011e" class="check-single ng-pristine ng-untouched ng-valid ng-empty" ng-model="checked" checklist-model="selected.boxes">
            <label for="checkbox_5b8703b73d706f0ac576011e"></label>
        </div>
        <div class="list__cell--keyword  keyword">
            altcoin wallet
        </div>
    </div>
    <div class="list__cell list__cell--popularity">
        <!---->
        <!----><div is-feature-enabled="['feature_popularity']">
            5
        </div><!---->
    </div>
    <div class="list__cell list__cell--m">
        <div>
            100
        </div>
    </div>
    <div class="list__cell list__cell--m">
        <div>
            4
        </div>
    </div>
    <div class="list__cell list__cell--m u-text-small">
        <!---->
        <!----><div ng-if="!item.tracked">
            <a class="btn btn--primary" use-track-click="button_addkeyword_list" ng-click="addKeyword(item)">
                <i class="icon-add-circle icon__large"></i>
            </a>
        </div><!---->
    </div>
</div><!----><div class="vs-repeat-after-content" style="width: 100%; min-height: 32041px;"></div></div>